<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<center>

<form action="/addUser">
	<table>
		<tr>
			<td>id</td>
			<td><input type="text" name="id" value=""/></td>
		</tr>
		<tr>
			<td>userName</td>
			<td><input type="text" name="userName" value=""/></td>
		</tr>
		<tr>
			<td>userNum</td>
			<td><input type="text" name="userNum" value=""/></td>
		</tr>
		
		<tr>
			<td>sex</td>
			<td><input type="text" name="sex" value=""/></td>
		</tr>
		<tr>
			<td>age</td>
			<td><input type="text" name="age" value=""/></td>
		</tr>
		<tr>
			<td>birthday</td>
			<td><input type="text" name="birthday" value=""/></td>
		</tr>
		<tr>
			<td>education</td>
			<td><input type="text" name="education" value=""/></td>
		</tr>
		<tr>
			<td>email</td>
			<td><input type="text" name="email" value=""/></td>
		</tr>
		<tr>
			<td>phone</td>
			<td><input type="text" name="phone" value=""/></td>
		</tr>
		
		
		<tr>
			<td>empType</td>
			<td><input type="text" name="empType" value=""/></td>
		</tr>
		<tr>
			<td>hiredate</td>
			<td><input type="text" name="hiredate" value=""/></td>
		</tr>
		<tr>
			<td>firstDeptDesc</td>
			<td><input type="text" name="firstDeptDesc" value=""/></td>
		</tr>
		<tr>
			<td>secondDeptDesc</td>
			<td><input type="text" name="secondDeptDesc" value=""/></td>
		</tr> 
		<tr>
			<td>images</td>
			<td><input type="text" name="images" value=""/></td>
		</tr>      

     	<tr>
			<td>positionLevel</td>
			<td><input type="text" name="positionLevel" value=""/></td>
		</tr>
		<tr>
			<td>positionName</td>
			<td><input type="text" name="positionName" value=""/></td>
		</tr>
		<tr>
			<td>positionOrder</td>
			<td><input type="text" name="positionOrder" value=""/></td>
		</tr>
		 
      	<tr>
			<td>workAddr</td>
			<td><input type="text" name="workAddr" value=""/></td>
		</tr>
		<tr>
			<td>roles</td>
			<td><input type="text" name="roles" value=""/></td>
		</tr>
		
	</table>
		<input type="submit" value="submit"/>
</form>

</center>
</body>
</html>