<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
</head>
<body>

<center>

<table border="1">
	
    <tr>  
      <th>id</th>
      <th>roleDesc</th>  
      <th>roleName</th>  
      
      <th> <a> <!-- th:href="@{/toAdd}" -->新增</a> </th>
    </tr>  

 	<tr th:each="role: ${list}">
 	<td th:text="${role.id}"></td>
		<td th:text="${role.roleDesc}"></td>
		<td th:text="${role.roleName}"></td>
		
		<td> <a th:href="@{/update(id=${role.id})}">编辑</a> </td>
	</tr>
</table>
	
</center>

</body>
</html>