<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<center>

<form action="/addMenu">
	<table>
		<tr>
			<td>id</td>
			<td><input type="text" name="id" value=""/></td>
		</tr>
		<tr>
			<td>menuName</td>
			<td><input type="text" name="menuName" value=""/></td>
		</tr>
		<tr>
			<td>menuDesc</td>
			<td><input type="text" name="menuDesc" value=""/></td>
		</tr>
		<tr>
			<td>url</td>
			<td><input type="text" name="url" value=""/></td>
		</tr>
		<tr>
			<td>menu</td>
			<td><input type="text" name="menu" value=""/></td>
		</tr>
	</table>
		<input type="submit" value="submit"/>
</form>

</center>
</body>
</html>