<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
</head>
<body>
<form th:action="@{/updateMenu}" method="post" th:object="${menuDTO}">
	<table>
		<tr>
			<td>id</td>
			<td><input type="text" th:value="${menuDTO.id}" th:field="*{id}" readonly="readonly"/></td>
		</tr>
		<tr>
			<td>menuName</td>
			<td><input type="text"  th:value="${menuDTO.menuName}" th:field="*{menuName}"/></td>
		</tr>
		<tr>
			<td>menuDesc</td>
			<td><input type="text" th:value="${menuDTO.menuDesc}" th:field="*{menuDesc}"/></td>
		</tr>
		
		<tr>
			<td>url</td>
			<td><input type="text" th:value="${menuDTO.url}" th:field="*{url}"/></td>
		</tr>
		<tr>
			<td>menu</td>
			<td><input type="text" th:value="${menuDTO.menu}" th:field="*{menu}"/></td>
		</tr>
		
	</table>
		<input type="submit" value="submit"/>
</form>
</body>
</html>